---
import placeholder from "@assets/placeholder.jpg";
import placeholder2 from "@assets/placeholder2.jpg";

import { Image } from "astro:assets";
---

<section class="bg-light-green text-light-green relative z-20 min-h-dvh py-16">
  <div
    class="bg-dark-green flex w-full flex-col gap-y-9 rounded-3xl px-5 pb-5 pt-16 text-center"
  >
    <h2 class="text-3xl font-bold lg:text-7xl">מעט ממה שתראו בטיול</h2>
    <!-- <Image src={placeholder} alt="Image 1" width={1920} height={1280} />  -->
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="w-fullh-[80vh] relative">
            <Image
              class="w-full h-full object-cover"
              src={placeholder}
              alt=""
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="w-fullh-[80vh] relative">
            <Image
              class="w-full h-full object-cover"
              src={placeholder2}
              alt=""
            />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="w-fullh-[80vh] relative">
            <Image
              class="w-full h-full object-cover"
              src={placeholder}
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
