---
import Brand from '@components/ui/Brand.astro';
import Container from '@components/ui/Container.astro';
---

<footer class='bg-dark-green text-light-green p-10'>
  <Container>
    <div class='flex flex-col items-center gap-y-6'>
      <aside class='flex flex-col items-center gap-y-4'>
        <Brand />
        <p class='font-bold'>
          יעקב ירוחם - {new Date().getFullYear()}
        </p>
      </aside>
      <nav>
        <div class='grid grid-flow-col gap-4'>
          <a
            href='/'
            class='text-3xl p-1 bg-light-green/10 rounded-2xl flex items-center justify-center transition duration-300 hover:bg-light-green/20'>
            <i class='ph ph-instagram-logo'></i>
          </a>
          <a
            rel='noopener noreferrer'
            target='_blank'
            href='https://wa.me/c/436602039392'
            class='text-3xl p-1 bg-light-green/10 rounded-2xl flex items-center justify-center transition duration-300 hover:bg-light-green/20'>
            <i class='ph ph-whatsapp-logo'></i>
          </a>
        </div>
      </nav>
    </div>
  </Container>
</footer>
